<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stores</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
</head>
<body>
    <center>
        <%- include('partial/_navbar', {userId}) %>
        <h1>Store List</h1>
        <table border="1">
            <tr>
                <th>Username</th>
                <th>Store Name</th>
                <th>Total sales</th>
            </tr>
            <% data.forEach(el => { %>
                <tr>
                    <td><%= el.username %></td>
                    <td><a href="/stores/<%= el.Store.id %>"><%= el.Store.name %></a></td>
                    <td><%= el.Store.productSales %></td>
                </tr>
            <% }) %>
        </table>
    </center>
</body>
</html>